@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Newsreader&family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap");

@layer base {
  h1 {
    @apply text-5xl font-display font-semibold text-black;
  }
  h2 {
    @apply text-3xl font-display font-semibold text-black;
  }
  body:not(h1, h2) {
    @apply text-gray-900 text-lg md:text-xl;
  }
}

@layer components {
  .link-classic {
    @apply text-blue-700 hover:underline hover:text-blue-800 transition-colors duration-200 cursor-pointer;
  }
}

.hero {
  height: 20rem;
}

.hero::after {
  display: block;
  position: relative;
  background-image: linear-gradient(0deg, #00000070 30%, #ffffff2d 100%);
  height: 100%;
  width: 100%;
  content: "";
}

.hero-button {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%);
}

.main {
  margin-top: 26rem;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 40rem;
  }

  .hero-button {
    top: 36rem;
  }

  .main {
    margin-top: 46rem;
  }
}
