@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital@0;1&family=Inter:wght@800&family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap");

@layer base {
  h1 {
    @apply text-5xl font-display font-semibold;
  }
  h2 {
    @apply text-5xl font-sans-display;
  }
  h3 {
    @apply text-3xl font-display font-semibold;
  }
  h4 {
    @apply text-3xl font-sans-display;
  }
  body:not(h1, h2, h3, h4) {
    @apply text-gray-900 text-lg md:text-xl;
  }
}

@layer components {
  /* Basic */
  .link-classic {
    @apply text-blue-700 hover:underline hover:text-blue-800 transition-colors duration-200 cursor-pointer;
  }

  /* Service Card */
  .service-card {
    @apply divide-y divide-opacity-50 bg-gradient-to-r bg-opacity-50 rounded p-2 m-1 shadow-lg;
  }

  .service-card-green {
    @apply divide-blue-500 from-green-100 to-blue-200 border border-blue-200;
  }

  .service-card-purple {
    @apply divide-purple-500 from-blue-200 to-purple-200 border border-purple-200;
  }

  .service-card-red {
    @apply divide-red-500 from-purple-200 to-red-200 border border-purple-200;
  }

  .service-card-body {
    @apply p-2 font-sans tracking-wide;
  }

  /* Section Name */
}

.hero {
  height: 20rem;
}

.hero::after {
  display: block;
  position: relative;
  background-image: linear-gradient(0deg, #df862131 30%, #006eff57 100%);
  height: 100%;
  width: 100%;
  content: "";
}

/* 
Dark gray effect for spotify type effect
Not as nice with the colorful service-cards
.hero::after {
  display: block;
  position: relative;
  background-image: linear-gradient(0deg, #00000070 30%, #ffffff2d 100%);
  height: 100%;
  width: 100%;
  content: "";
} */

.hero-button {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%);
}

.main {
  margin-top: 25rem;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 40rem;
  }

  .hero-button {
    top: 36rem;
  }

  .main {
    margin-top: 45rem;
  }
}
